[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
psycopg2 = "*"
django-crispy-forms = "*"
django-heroku = "*"
python-decouple = "*"
django-bootstrap4 = "*"
djangorestframework = "*"
gunicorn = "*"
pillow = "*"
pyuploadcare = "*"
django = "*"
python-dotenv = "*"
urllib3 = "*"
chardet = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
